@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@300;400;500;600&display=swap");
/* fonts */
/* 10px */
/* colors */
/* warning */
/* about para text */
/* warning */
/* navigation footer bg */
/* font */
/* font */
/* bg */
/* forms input bg */
#contact-us #contact-form .contact-btn, .quote-container #quotes .quote-btn, #hero .hero-contact .hero-btn-container #hero-btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  color: hsl(180deg, 8%, 97%);
  transition: all 300ms ease-in-out;
}
#contact-us #contact-form .contact-btn:hover, .quote-container #quotes .quote-btn:hover, #hero .hero-contact .hero-btn-container #hero-btn:hover {
  cursor: pointer;
  color: hsl(204deg, 68%, 30%);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
#contact-us #contact-form .contact-btn:active, .quote-container #quotes .quote-btn:active, #hero .hero-contact .hero-btn-container #hero-btn:active {
  opacity: 0.6;
}

.nav-bar {
  background: hsl(45deg, 93%, 50%);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  transform: translateY(-250%);
  transition: transform 500ms ease-in-out;
}
@media (min-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2.5rem;
    padding: 0;
    position: unset;
    min-height: unset;
    transform: translate(0%);
    transition: transform 0ms ease-in-out;
    background: transparent;
  }
}
.nav-bar .menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5rem;
  width: 100%;
  padding: 5rem 0 0 10rem;
  text-align: left;
}
@media (min-width: 768px) {
  .nav-bar .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2.5rem;
    padding: 0;
  }
}
.nav-bar .menu .menu-item {
  list-style-type: none;
  position: relative;
}
.nav-bar .menu .menu-item::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  border-bottom: 0.3rem solid hsl(180deg, 8%, 97%);
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}
.nav-bar .menu .menu-item:hover::before {
  transform: scale(1, 1);
  transform-origin: left;
}
.nav-bar .menu .menu-item.active::before, .nav-bar .menu .menu-item.active-link::before {
  transform: scale(1, 1);
  transform-origin: left;
}
.nav-bar .menu .menu-item a {
  font-size: 2rem;
  text-decoration: none;
  color: hsl(180deg, 8%, 97%);
  font-weight: 600;
}

#burger-checkbox:checked ~ .nav-bar {
  transform: translateY(0%);
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  padding: 0.1rem;
  background: transparent;
  transition: all 300ms ease-in-out;
  z-index: 99;
}
.hamburger .line {
  width: 4rem;
  border: 0.2rem solid hsl(180deg, 8%, 97%);
  background: hsl(180deg, 8%, 97%);
  transition: all 500ms ease-in-out;
}
.hamburger:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#burger-checkbox {
  display: none;
  position: absolute;
  visibility: hidden;
}

#burger-checkbox:checked ~ .hamburger > .line-top {
  width: 2.8rem;
  transform: rotate(45deg);
  transform-origin: left top;
}

#burger-checkbox:checked ~ .hamburger > .line-inner {
  visibility: hidden;
  transition: all 250ms ease-in-out;
}

#burger-checkbox:checked ~ .hamburger > .line-bottom {
  width: 2.8rem;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
#my-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  position: fixed;
  top: 0;
  max-width: 144rem;
  padding: 1rem 2rem;
  width: 100%;
  transition: all 300ms ease-in;
  z-index: 90;
}
#my-header.active {
  background: hsl(45deg, 93%, 50%);
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
}
@media (min-width: 1201px) {
  #my-header {
    padding: 1rem 6rem;
  }
}
#my-header .logo-container {
  width: 7rem;
}
@media (min-width: 768px) {
  #my-header .logo-container {
    width: 10rem;
  }
}
#my-header .logo-container img {
  width: 100%;
  height: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0;
  width: 100%;
}

#sliders {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#sliders .slide {
  width: 100%;
  height: 30rem;
  position: absolute;
  top: 0;
  transition: all 1s ease-in-out;
}
@media (min-width: 768px) {
  #sliders .slide {
    height: 40rem;
  }
}
@media (min-width: 992px) {
  #sliders .slide {
    min-height: 100vh;
  }
}
#sliders .slide img {
  width: 100%;
  height: 100%;
  position: relative;
}
#sliders .slide::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
#sliders .btn {
  position: absolute;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border: none;
  border-radius: 50%;
  background-color: hsl(180deg, 8%, 97%);
  font-size: 2rem;
  color: hsl(212deg, 29%, 13%);
}
#sliders .btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
#sliders .btn:active {
  transform: scale(1.1);
}
#sliders .btn.btn-prev {
  top: 45%;
  left: 0;
  z-index: 5;
}
#sliders .btn.btn-next {
  top: 45%;
  right: 0;
  z-index: 5;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  height: 30rem;
  position: relative;
}
@media (min-width: 768px) {
  #hero {
    height: 40rem;
  }
}
@media (min-width: 992px) {
  #hero {
    min-height: 100vh;
  }
}
#hero h2 {
  text-align: center;
  font-size: 4rem;
  color: hsl(180deg, 8%, 97%);
  position: absolute;
  top: 25%;
  z-index: 2;
}
#hero h2 span {
  display: block;
}
@media (min-width: 768px) {
  #hero h2 {
    font-size: 5rem;
  }
}
@media (min-width: 992px) {
  #hero h2 {
    font-size: 7rem;
    top: 30%;
  }
}
#hero .hero-contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  background: hsl(204deg, 68%, 30%);
  padding: 1rem 0;
  position: relative;
}
@media (max-width: 374px) {
  #hero .hero-contact {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  #hero .hero-contact {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  #hero .hero-contact {
    font-size: 3rem;
  }
}
#hero .hero-contact .query-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}
@media (min-width: 768px) {
  #hero .hero-contact .query-text {
    align-items: center;
  }
}
#hero .hero-contact .query-text span {
  display: block;
  text-align: center;
  padding-left: 1rem;
  font-weight: 600;
}
#hero .hero-contact .query-text::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -1.01rem;
  left: 0;
  z-index: -1;
  border-right: 5rem solid transparent;
  border-bottom: 7rem solid hsl(45deg, 93%, 50%);
}
@media (min-width: 768px) {
  #hero .hero-contact .query-text::before {
    border-right: 6rem solid transparent;
    border-bottom: 8rem solid hsl(45deg, 93%, 50%);
  }
}
@media (min-width: 992px) {
  #hero .hero-contact .query-text::before {
    border-right: 8rem solid transparent;
    border-bottom: 11rem solid hsl(45deg, 93%, 50%);
  }
}
#hero .hero-contact .call-text {
  width: 100%;
  color: hsl(180deg, 8%, 97%);
  align-self: center;
  text-align: center;
  font-weight: 600;
}
@media (min-width: 768px) {
  #hero .hero-contact .call-text {
    font-size: 2.5rem;
  }
}
#hero .hero-contact .hero-btn-container {
  text-align: center;
  align-self: center;
}
@media (min-width: 768px) {
  #hero .hero-contact .hero-btn-container {
    width: 100%;
  }
}
#hero .hero-contact .hero-btn-container #hero-btn {
  padding: 1rem;
  background: hsl(45deg, 93%, 50%);
}
@media (max-width: 374px) {
  #hero .hero-contact .hero-btn-container #hero-btn {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  #hero .hero-contact .hero-btn-container #hero-btn {
    padding: 1rem 3rem;
  }
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 0 1rem;
}
@media (min-width: 1201px) {
  .quote-container {
    padding: 0 4rem;
  }
}
.quote-container h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .quote-container h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  .quote-container h2 {
    font-size: 5rem;
  }
}
.quote-container #quotes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid hsl(212deg, 29%, 13%);
  background: hsl(0deg, 0%, 90%);
}
@media (min-width: 768px) {
  .quote-container #quotes {
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 992px) {
  .quote-container #quotes {
    padding: 4rem;
  }
}
.quote-container #quotes .field {
  width: 100%;
}
.quote-container #quotes .field label {
  display: block;
  font-weight: 600;
}
.quote-container #quotes .field .form-field {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid hsl(212deg, 29%, 13%);
  background: hsl(0deg, 0%, 93%);
  border-radius: 0.5rem;
  outline: none;
  position: relative;
}
.quote-container #quotes .field .form-field.active {
  background-image: url("../../images/error/icon-error.svg");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: center right 2.5rem;
  border: 0.1rem solid hsl(0deg, 100%, 63%);
}
.quote-container #quotes .field .warning {
  visibility: hidden;
  font-size: 1.2rem;
  color: hsl(0deg, 100%, 63%);
}
.quote-container #quotes .field .warning.active {
  visibility: visible;
}
.quote-container #quotes .quote-btn {
  padding: 1.5rem;
  width: 100%;
  background: hsl(45deg, 93%, 50%);
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  color: hsl(212deg, 29%, 13%);
}
@media (min-width: 768px) {
  #services {
    flex-direction: row;
    align-items: flex-start;
    gap: 0rem;
  }
}
#services .offer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}
@media (min-width: 768px) {
  #services .offer-container {
    width: 100%;
    gap: 2rem;
  }
}
#services .offer-container .offers-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  #services .offer-container .offers-title {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  #services .offer-container .offers-title {
    font-size: 5rem;
  }
}
#services .offer-container .offer-services {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 10rem;
}
@media (min-width: 768px) {
  #services .offer-container .offer-services {
    gap: 2rem;
  }
}
@media (min-width: 992px) {
  #services .offer-container .offer-services {
    gap: 10rem;
  }
}
#services .offer-container .offer-services .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 10rem;
}
@media (min-width: 768px) {
  #services .offer-container .offer-services .card {
    width: 15rem;
  }
}
#services .offer-container .offer-services .card .card-img {
  width: 100%;
}
@media (min-width: 768px) {
  #services .offer-container .offer-services .card .card-img {
    width: 10rem;
  }
}
#services .offer-container .offer-services .card .card-title {
  text-align: center;
  font-weight: 600;
}
#services .offer-container .offer-services .card .card-description {
  text-align: center;
  font-size: 1.2rem;
}
#services .offer-container .service-rates {
  position: relative;
}
#services .offer-container .service-rates::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  border-bottom: 0.3rem solid hsl(212deg, 29%, 13%);
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}
#services .offer-container .service-rates:hover::before {
  transform: scale(1, 1);
  transform-origin: left;
}
#services .offer-container .service-rates.active::before {
  transform: scale(1, 1);
  transform-origin: left;
}
#services .offer-container .service-rates a {
  font-size: 2.5rem;
  text-decoration: none;
  color: hsl(212deg, 29%, 13%);
  font-weight: 600;
}

#clients,
#all-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  text-align: center;
  color: hsl(212deg, 29%, 13%);
}
#clients .max-capacity,
#all-clients .max-capacity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  min-height: 20%;
  padding: 4rem;
  color: hsl(180deg, 8%, 97%);
  background: hsl(204deg, 68%, 30%);
}
@media (min-width: 768px) {
  #clients .max-capacity,
#all-clients .max-capacity {
    padding: 8rem;
  }
}
@media (min-width: 992px) {
  #clients .max-capacity,
#all-clients .max-capacity {
    padding: 10rem 12rem;
  }
}
#clients .max-capacity .client-title,
#all-clients .max-capacity .client-title {
  font-size: 2.5rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  #clients .max-capacity .client-title,
#all-clients .max-capacity .client-title {
    font-size: 3.5rem;
    padding: 0 4rem;
  }
}
#clients .max-capacity .capacity,
#all-clients .max-capacity .capacity {
  font-size: 2rem;
}
@media (min-width: 768px) {
  #clients .max-capacity .capacity,
#all-clients .max-capacity .capacity {
    font-size: 2.5rem;
    padding: 0 4rem;
  }
}
@media (min-width: 992px) {
  #clients .max-capacity .capacity,
#all-clients .max-capacity .capacity {
    padding: 0 8rem;
    line-height: 4rem;
  }
}
#clients h2,
#all-clients h2 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  #clients h2,
#all-clients h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  #clients h2,
#all-clients h2 {
    font-size: 5rem;
  }
}
#clients .client-para,
#all-clients .client-para {
  padding: 1rem 2rem;
}
#clients .client-para span,
#all-clients .client-para span {
  font-size: 2rem;
  display: block;
}
#clients .client-container,
#all-clients .client-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  #clients .client-container,
#all-clients .client-container {
    padding: 0 4rem;
  }
}
#clients .client-container img,
#all-clients .client-container img {
  width: 10rem;
  height: 10rem;
  transition: all 300ms ease-in-out;
}
#clients .client-container img:hover,
#all-clients .client-container img:hover {
  transform: scale(1.05);
}
@media (min-width: 768px) {
  #clients .client-container img,
#all-clients .client-container img {
    width: 15rem;
    height: 15rem;
  }
}
#clients .see-all,
#all-clients .see-all {
  margin-top: 2rem;
  position: relative;
}
#clients .see-all::before,
#all-clients .see-all::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  border-bottom: 0.3rem solid hsl(212deg, 29%, 13%);
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}
#clients .see-all:hover::before,
#all-clients .see-all:hover::before {
  transform: scale(1, 1);
  transform-origin: left;
}
#clients .see-all.active::before,
#all-clients .see-all.active::before {
  transform: scale(1, 1);
  transform-origin: left;
}
#clients .see-all a,
#all-clients .see-all a {
  font-size: 2.5rem;
  text-decoration: none;
  color: hsl(212deg, 29%, 13%);
  font-weight: 600;
}

.clients-page {
  padding: 8rem 2rem;
}
@media (min-width: 768px) {
  .clients-page {
    padding: 10rem 2rem;
  }
}
.clients-page #clients-page-title {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .clients-page #clients-page-title {
    font-size: 5rem;
  }
}

.card-testi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  font-size: 1.4rem;
  line-height: 2.5rem;
  padding: 2rem;
  border: 0.1rem solid hsl(180deg, 8%, 97%);
  border-radius: 1rem;
  background: hsl(204deg, 68%, 30%);
  z-index: 2;
  font-weight: 300;
}
@media (min-width: 576px) {
  .card-testi {
    width: 30rem;
  }
}
@media (min-width: 992px) {
  .card-testi {
    width: 35rem;
  }
}
.card-testi .testi-para {
  color: hsl(180deg, 8%, 97%);
}
.card-testi .profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.card-testi .profile img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.card-testi .profile .name-position {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0rem;
  line-height: 1.6rem;
}
.card-testi .profile .name-position .name {
  font-weight: 400;
}
.card-testi .profile .name-position .position {
  font-size: 1rem;
}

#testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  background: hsl(204deg, 68%, 30%);
  width: 100%;
  padding: 2rem 0;
}
@media (min-width: 576px) {
  #testimonial {
    padding: 4rem;
  }
}
#testimonial h2 {
  font-size: 2.5rem;
  color: hsl(180deg, 8%, 97%);
}
@media (min-width: 768px) {
  #testimonial h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  #testimonial h2 {
    font-size: 5rem;
  }
}
#testimonial .testi-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 2rem;
  background-image: url("../../images/testomonial/bg-quotes.png");
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position: top 1rem left 1rem;
  z-index: 1;
}
@media (min-width: 576px) {
  #testimonial .testi-container {
    flex-direction: row;
    flex-wrap: wrap;
    background-position: top 1rem left 2rem;
  }
}
@media (min-width: 992px) {
  #testimonial .testi-container {
    gap: 4rem;
    padding: 8rem 2rem;
    background-position: top 5rem left 2rem;
  }
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 2rem;
}
@media (min-width: 768px) {
  .team-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }
}
@media (min-width: 992px) {
  .team-container {
    padding: 8rem 2rem;
  }
}
.team-container .team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 0.1rem solid hsl(212deg, 29%, 13%);
  border-radius: 1rem;
  padding: 2rem;
}
.team-container .team-card img {
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
}
.team-container .team-card .name {
  text-decoration: none;
  font-size: 2rem;
  color: hsl(212deg, 29%, 13%);
  font-weight: 600;
  position: relative;
}
.team-container .team-card .name::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  border-bottom: 0.3rem solid hsl(212deg, 29%, 13%);
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}
.team-container .team-card .name:hover::before {
  transform: scale(1, 1);
  transform-origin: left;
}
.team-container .team-card .name.active::before {
  transform: scale(1, 1);
  transform-origin: left;
}
.team-container .team-card .team-port {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 600;
}
.team-container .team-card .team-port:hover {
  color: hsl(204deg, 68%, 30%);
}

#teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  color: hsl(212deg, 29%, 13%);
}
#teams h2 {
  font-size: 2.5rem;
  text-align: center;
}
@media (min-width: 768px) {
  #teams h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  #teams h2 {
    font-size: 5rem;
  }
}

#my-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  width: 100%;
  max-width: 144rem;
  background: hsl(0deg, 0%, 90%);
}

#my-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 144rem;
  background: hsl(45deg, 93%, 50%);
  padding: 2rem;
  z-index: 90;
}
@media (min-width: 992px) {
  #my-footer {
    padding: 2rem 6rem;
  }
}
#my-footer .about-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  #my-footer .about-contact {
    flex-direction: row;
  }
}
#my-footer .about-contact .about-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
#my-footer .about-contact .about-footer .about-para {
  color: hsl(180deg, 8%, 97%);
}
#my-footer .about-contact .about-footer img {
  width: 7rem;
}
#my-footer .about-contact .about-footer .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#my-footer .about-contact .about-footer .social-media img {
  width: 3rem;
}
#my-footer .about-contact .about-footer .social-media img:hover {
  cursor: pointer;
}
#my-footer .about-contact .about-footer .social-media .facebook:hover {
  filter: invert(41%) sepia(28%) saturate(5354%) hue-rotate(193deg) brightness(104%) contrast(92%);
}
#my-footer .about-contact .about-footer .social-media .twitter:hover {
  filter: invert(51%) sepia(56%) saturate(779%) hue-rotate(162deg) brightness(95%) contrast(100%);
}
#my-footer .about-contact .about-footer .social-media .youtube:hover {
  filter: invert(20%) sepia(78%) saturate(5214%) hue-rotate(339deg) brightness(74%) contrast(112%);
}
#my-footer .about-contact .about-footer .social-media .instagram:hover {
  filter: invert(42%) sepia(64%) saturate(1298%) hue-rotate(299deg) brightness(89%) contrast(95%);
}
#my-footer .about-contact .contact-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
#my-footer .about-contact .contact-footer h2 {
  font-size: 2rem;
}
#my-footer .about-contact .contact-footer .contact-text-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}
#my-footer .about-contact .contact-footer .contact-text-icon .contact-icon img {
  width: 2rem;
  height: 2rem;
}
#my-footer .about-contact .contact-footer .contact-text-icon .contact-icon span {
  padding-left: 1rem;
}
#my-footer .copyright-privacy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 100%;
}
#my-footer .copyright-privacy .copyright {
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
}
#my-footer .copyright-privacy .copyright img {
  width: 1rem;
}
#my-footer .copyright-privacy .privacy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
}
#my-footer .copyright-privacy .privacy a {
  text-decoration: none;
  color: hsl(180deg, 8%, 97%);
  font-size: 1.4rem;
  position: relative;
}
#my-footer .copyright-privacy .privacy a::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  border-bottom: 0.3rem solid hsl(180deg, 8%, 97%);
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}
#my-footer .copyright-privacy .privacy a:hover::before {
  transform: scale(1, 1);
  transform-origin: left;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 0 1rem;
}
@media (min-width: 1201px) {
  .quote-container {
    padding: 0 4rem;
  }
}
.quote-container h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .quote-container h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  .quote-container h2 {
    font-size: 5rem;
  }
}
.quote-container #quotes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid hsl(212deg, 29%, 13%);
  background: hsl(0deg, 0%, 90%);
}
@media (min-width: 768px) {
  .quote-container #quotes {
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 992px) {
  .quote-container #quotes {
    padding: 4rem;
  }
}
.quote-container #quotes .field {
  width: 100%;
}
.quote-container #quotes .field label {
  display: block;
  font-weight: 600;
}
.quote-container #quotes .field .form-field {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid hsl(212deg, 29%, 13%);
  background: hsl(0deg, 0%, 93%);
  border-radius: 0.5rem;
  outline: none;
  position: relative;
}
.quote-container #quotes .field .form-field.active {
  background-image: url("../../images/error/icon-error.svg");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: center right 2.5rem;
  border: 0.1rem solid hsl(0deg, 100%, 63%);
}
.quote-container #quotes .field .warning {
  visibility: hidden;
  font-size: 1.2rem;
  color: hsl(0deg, 100%, 63%);
}
.quote-container #quotes .field .warning.active {
  visibility: visible;
}
.quote-container #quotes .quote-btn {
  padding: 1.5rem;
  width: 100%;
  background: hsl(45deg, 93%, 50%);
}

.my-header {
  background: hsl(45deg, 93%, 50%);
}

#contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 8rem 1rem;
  width: 100%;
  color: hsl(212deg, 29%, 13%);
  min-height: 100vh;
  background: hsl(0deg, 0%, 90%);
}
@media (min-width: 768px) {
  #contact-us {
    width: 65%;
    padding: 10rem 2rem;
  }
}
@media (min-width: 992px) {
  #contact-us {
    width: 50%;
    padding: 10rem 2rem;
  }
}
#contact-us h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  color: hsl(212deg, 29%, 13%);
}
@media (min-width: 768px) {
  #contact-us h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  #contact-us h2 {
    font-size: 5rem;
  }
}
#contact-us #contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
  border: none;
  border-radius: 0.5rem;
  background: hsl(204deg, 68%, 30%);
  color: hsl(180deg, 8%, 97%);
  transition: all 300ms ease-in-out;
}
@media (min-width: 425px) {
  #contact-us #contact-form {
    padding: 4rem;
  }
}
#contact-us #contact-form:hover {
  box-shadow: 0rem 0rem 1.5rem hsla(212deg, 29%, 13%, 0.4);
  cursor: pointer;
}
#contact-us #contact-form h3 {
  text-align: center;
  width: 100%;
}
#contact-us #contact-form .field {
  width: 100%;
}
#contact-us #contact-form .field label {
  display: block;
  font-weight: 600;
  color: hsl(180deg, 8%, 97%);
}
#contact-us #contact-form .field .form-field {
  width: 100%;
  padding: 1rem;
  outline: none;
  border-radius: 0.5rem;
  border: 0.1rem solid transparent;
  background: hsl(0deg, 0%, 93%);
  position: relative;
}
#contact-us #contact-form .field .form-field.active {
  background-image: url("../../images/error/icon-error.svg");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: center right 2.5rem;
  border: 0.1rem solid hsl(0deg, 100%, 63%);
}
#contact-us #contact-form .field .warning {
  visibility: hidden;
  font-size: 1.2rem;
  color: hsl(0deg, 100%, 63%);
}
#contact-us #contact-form .field .warning.active {
  visibility: visible;
}
#contact-us #contact-form .contact-btn {
  padding: 1.5rem;
  width: 100%;
  background: hsl(45deg, 93%, 50%);
}

#all-services {
  background: hsl(204deg, 68%, 30%);
  width: 100%;
  padding: 9rem 0;
}
#all-services #service-offers,
#all-services #rates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  min-width: 35rem;
  width: 100%;
}
#all-services #service-offers .services-title, #all-services #service-offers .rates-title,
#all-services #rates .services-title,
#all-services #rates .rates-title {
  text-align: center;
  text-shadow: 0.1rem 0.2rem 0.3rem hsl(212deg, 29%, 13%);
  color: hsl(45deg, 93%, 50%);
}
@media (min-width: 768px) {
  #all-services #service-offers .services-title, #all-services #service-offers .rates-title,
#all-services #rates .services-title,
#all-services #rates .rates-title {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  #all-services #service-offers .services-title, #all-services #service-offers .rates-title,
#all-services #rates .services-title,
#all-services #rates .rates-title {
    font-size: 5rem;
  }
}
#all-services #service-offers .service-text .para,
#all-services #rates .service-text .para {
  padding: 2rem;
}
@media (min-width: 768px) {
  #all-services #service-offers .service-text .para,
#all-services #rates .service-text .para {
    padding: 2rem 4rem;
  }
}
#all-services #service-offers .miscellaneous,
#all-services #rates .miscellaneous {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
}
#all-services #service-offers .miscellaneous div,
#all-services #rates .miscellaneous div {
  padding: 0 2rem;
}
@media (min-width: 768px) {
  #all-services #service-offers .miscellaneous div,
#all-services #rates .miscellaneous div {
    padding: 0rem 4rem;
  }
}
#all-services #service-offers .miscellaneous ol,
#all-services #rates .miscellaneous ol {
  padding: 2rem;
}
@media (min-width: 768px) {
  #all-services #service-offers .miscellaneous ol,
#all-services #rates .miscellaneous ol {
    padding: 2rem 4rem;
  }
}
#all-services .services-container,
#all-services .rates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  width: 100%;
  padding: 4rem 2rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  #all-services .services-container,
#all-services .rates-container {
    padding: 4rem;
    font-size: 1.4rem;
  }
}
#all-services .services-container .warehouse-container, #all-services .services-container .office-container, #all-services .services-container .storage-racks-container, #all-services .services-container .cold-storage-container, #all-services .services-container .special-storage-container, #all-services .services-container .vehicle-area-container, #all-services .services-container .basic-rate-container, #all-services .services-container .special-cargo-container, #all-services .services-container .service-charge-container, #all-services .services-container .deconsolidation-fee-container, #all-services .services-container .return-fee-container,
#all-services .rates-container .warehouse-container,
#all-services .rates-container .office-container,
#all-services .rates-container .storage-racks-container,
#all-services .rates-container .cold-storage-container,
#all-services .rates-container .special-storage-container,
#all-services .rates-container .vehicle-area-container,
#all-services .rates-container .basic-rate-container,
#all-services .rates-container .special-cargo-container,
#all-services .rates-container .service-charge-container,
#all-services .rates-container .deconsolidation-fee-container,
#all-services .rates-container .return-fee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#all-services .services-container .warehouse-container h2, #all-services .services-container .office-container h2, #all-services .services-container .storage-racks-container h2, #all-services .services-container .cold-storage-container h2, #all-services .services-container .special-storage-container h2, #all-services .services-container .vehicle-area-container h2, #all-services .services-container .basic-rate-container h2, #all-services .services-container .special-cargo-container h2, #all-services .services-container .service-charge-container h2, #all-services .services-container .deconsolidation-fee-container h2, #all-services .services-container .return-fee-container h2,
#all-services .rates-container .warehouse-container h2,
#all-services .rates-container .office-container h2,
#all-services .rates-container .storage-racks-container h2,
#all-services .rates-container .cold-storage-container h2,
#all-services .rates-container .special-storage-container h2,
#all-services .rates-container .vehicle-area-container h2,
#all-services .rates-container .basic-rate-container h2,
#all-services .rates-container .special-cargo-container h2,
#all-services .rates-container .service-charge-container h2,
#all-services .rates-container .deconsolidation-fee-container h2,
#all-services .rates-container .return-fee-container h2 {
  text-align: left;
  width: 100%;
  text-shadow: 0.1rem 0.2rem 0.3rem hsl(212deg, 29%, 13%);
}
#all-services .services-container .warehouse, #all-services .services-container .office,
#all-services .rates-container .warehouse,
#all-services .rates-container .office {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#all-services .services-container .warehouse h3, #all-services .services-container .office h3,
#all-services .rates-container .warehouse h3,
#all-services .rates-container .office h3 {
  background: hsl(204deg, 67%, 12%);
}
#all-services .services-container .storage-racks, #all-services .services-container .cold-storage, #all-services .services-container .vehicle-area, #all-services .services-container .basic-rate, #all-services .services-container .special-cargo, #all-services .services-container .service-charge, #all-services .services-container .deconsolidation-fee, #all-services .services-container .return-fee,
#all-services .rates-container .storage-racks,
#all-services .rates-container .cold-storage,
#all-services .rates-container .vehicle-area,
#all-services .rates-container .basic-rate,
#all-services .rates-container .special-cargo,
#all-services .rates-container .service-charge,
#all-services .rates-container .deconsolidation-fee,
#all-services .rates-container .return-fee {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  text-align: center;
  width: 100%;
}
#all-services .services-container .storage-racks h3, #all-services .services-container .cold-storage h3, #all-services .services-container .vehicle-area h3, #all-services .services-container .basic-rate h3, #all-services .services-container .special-cargo h3, #all-services .services-container .service-charge h3, #all-services .services-container .deconsolidation-fee h3, #all-services .services-container .return-fee h3,
#all-services .rates-container .storage-racks h3,
#all-services .rates-container .cold-storage h3,
#all-services .rates-container .vehicle-area h3,
#all-services .rates-container .basic-rate h3,
#all-services .rates-container .special-cargo h3,
#all-services .rates-container .service-charge h3,
#all-services .rates-container .deconsolidation-fee h3,
#all-services .rates-container .return-fee h3 {
  background: hsl(204deg, 67%, 12%);
}
#all-services .services-container .special-storage-fee,
#all-services .rates-container .special-storage-fee {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  text-align: center;
  width: 100%;
}
#all-services .services-container .special-storage-fee h3,
#all-services .rates-container .special-storage-fee h3 {
  background: hsl(204deg, 67%, 12%);
}
#all-services .border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  padding: 1rem;
  border-bottom: 0.1rem solid hsl(204deg, 68%, 30%);
  background-color: hsl(203deg, 43%, 25%);
}
@media (min-width: 768px) {
  #all-services .border {
    height: 5rem;
  }
}
#all-services .round-left {
  border-radius: 1rem 0 0 0;
  background: rgb(10, 34, 50);
}
#all-services .round-right {
  border-radius: 0 1rem 0 0;
}
#all-services .cols-1 {
  grid-column: 1/span 2;
}
#all-services .cols-2 {
  grid-column: 3/span 2;
}
#all-services .cols-3 {
  grid-column: 5/span 2;
}
#all-services .cols-4 {
  grid-column: 7/span 2;
}
#all-services .cols-5 {
  grid-column: 9/span 2;
}
#all-services .cols-6 {
  grid-column: 11/span 2;
}
#all-services .quote-container form {
  background: hsl(204deg, 68%, 30%);
}
@media (min-width: 768px) {
  #all-services .quote-container form {
    width: 50%;
  }
}

#about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  max-width: 144rem;
}
#about-us .about-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 35rem;
  background-image: url("../../images/about/about-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}
@media (min-width: 992px) {
  #about-us .about-hero {
    min-height: 80vh;
    gap: 2rem;
  }
}
#about-us .about-hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
#about-us .about-hero h2 {
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.2rem hsl(212deg, 29%, 13%);
  z-index: 2;
}
@media (min-width: 768px) {
  #about-us .about-hero h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  #about-us .about-hero h2 {
    font-size: 5rem;
  }
}
#about-us .about-hero .sub-para {
  font-size: 1.4rem;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.2rem hsl(212deg, 29%, 13%);
  z-index: 2;
}
@media (min-width: 768px) {
  #about-us .about-hero .sub-para {
    font-size: 1.6rem;
    padding: 0 10rem;
  }
}
@media (min-width: 992px) {
  #about-us .about-hero .sub-para {
    padding: 0 20rem;
  }
}
@media (min-width: 1200px) {
  #about-us .about-hero .sub-para {
    padding: 0 30rem;
  }
}
#about-us .about-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  padding: 4rem 1rem;
  background: hsl(0deg, 0%, 90%);
  z-index: 2;
}
@media (min-width: 768px) {
  #about-us .about-detail {
    padding: 4rem;
  }
}
@media (min-width: 992px) {
  #about-us .about-detail {
    gap: 0;
  }
}
#about-us .about-detail .capability {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  width: 100%;
}
@media (min-width: 992px) {
  #about-us .about-detail .capability {
    margin-top: -0.5rem;
    flex-direction: row-reverse;
    gap: 0;
  }
}
#about-us .about-detail .mission {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  width: 100%;
}
@media (min-width: 992px) {
  #about-us .about-detail .mission {
    flex-direction: row;
    gap: 0;
  }
}
#about-us .about-detail .statement {
  width: 100%;
  color: hsl(212deg, 29%, 13%);
}
#about-us .about-detail .statement h2 {
  text-align: center;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  #about-us .about-detail .statement h2 {
    padding: 0 2rem 0 4rem;
    text-align: left;
    position: relative;
    overflow: hidden;
  }
  #about-us .about-detail .statement h2::before {
    content: "";
    width: 90%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 4rem;
    border-bottom: 0.1rem solid hsl(212deg, 29%, 13%);
  }
}
#about-us .about-detail .statement p {
  text-align: justify;
}
@media (min-width: 992px) {
  #about-us .about-detail .statement p {
    padding: 0 2rem 0 4rem;
  }
}
#about-us .about-detail .image-container {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
@media (min-width: 992px) {
  #about-us .about-detail .image-container {
    border-radius: unset;
  }
}
#about-us .about-detail .image-container img {
  width: 100%;
}
#about-us .rate {
  width: 100%;
  padding: 4rem 1rem;
}
@media (min-width: 768px) {
  #about-us .rate {
    padding: 4rem;
  }
}
#about-us .rate .rate-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  background-image: url("../../images/about/rate-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#about-us .rate .rate-container .details {
  width: 100%;
  text-align: center;
  border: 0.1rem solid hsl(180deg, 8%, 97%);
  padding: 2rem 0;
}
@media (min-width: 768px) {
  #about-us .rate .rate-container .details {
    padding: 4rem;
  }
}
#about-us .rate .rate-container .details h2 {
  color: hsl(353deg, 85%, 44%);
}
@media (min-width: 768px) {
  #about-us .rate .rate-container .details h2 {
    font-size: 4rem;
  }
}
#about-us .rate .rate-container .details p {
  font-size: 1.4rem;
  color: hsl(212deg, 29%, 13%);
}
@media (min-width: 768px) {
  #about-us .rate .rate-container .details p {
    font-size: 1.6rem;
  }
}
#about-us .help-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  padding: 4rem 1rem;
  color: hsl(212deg, 29%, 13%);
  background-image: url("../../images/about/help-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  #about-us .help-container {
    padding: 4rem;
  }
}
@media (min-width: 992px) {
  #about-us .help-container {
    flex-direction: row;
    gap: 0;
    width: 100%;
  }
}
#about-us .help-container .help-message {
  width: 100%;
}
#about-us .help-container .help-message h2 {
  text-align: center;
  margin-bottom: 1rem;
}
#about-us .help-container .help-message p {
  text-align: justify;
}
#about-us .help-container .quote-container {
  width: 100%;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  transition: all 500ms ease-in-out;
}

body {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: hsl(180deg, 8%, 97%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  min-width: 32rem;
  background: hsl(0deg, 0%, 90%);
  max-width: 144rem;
  margin: 0 auto;
}

::selection {
  color: none;
  background: none;
}

/*# sourceMappingURL=styles.css.map */
