<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>PairGo</title>
      <link rel="shortcut icon" href="../images/logo/logo.png" type="image/x-icon" />
      <link rel="stylesheet" href="../styles/css/styles.css" />
   </head>

   <body id="stop-scroll">
      <div id="my-home" class="container">
         <header id="my-header" class="my-header">
            <input type="checkbox" name="burger-checkbox" id="burger-checkbox" aria-label="burger checkbox" />

            <a href="#" class="logo-container">
               <img src="../images/logo/logo-W.png" class="logo" alt="PairGO Logo" />
            </a>

            <nav class="nav-bar">
               <ul class="menu">
                  <li class="menu-item hero"><a href="../index.html">Home</a></li>
                  <li class="menu-item services active-link"><a href="./services.html">Services</a></li>
                  <li class="menu-item clients"><a href="./client.html">Clients</a></li>
                  <li class="menu-item about"><a href="./about.html">About us</a></li>
                  <li class="menu-item contacts"><a href="./contact.html">Contact us</a></li>
               </ul>
            </nav>

            <label for="burger-checkbox" class="hamburger">
               <span class="line line-top"></span>
               <span class="line line-inner"></span>
               <span class="line line-bottom"></span>
            </label>
         </header>

         <main class="my-main">
            <!-- /* services section */ -->
            <section id="service-offers">
               <h2 class="services-title">STORAGE CAPACITY</h2>
               <div class="service-text">
                  <p class="para">
                     Pairgo is designated as Public Customs Bonded Warehouse number 83 by virtue of Customs memorandum order #6-87 operating the largest International Cargo Complex
                     at Ninoy Aquino International Airport (NAIA) with an area of 40,000 square meters.
                  </p>

                  <p class="para">
                     We are the first computerized cargo warehouse and the first to introduce the bar-code system for cargo in the country. With our system, we are able to match
                     computer codes to distinct and specific storage locations for each and every type of cargo, making our retrieval process a secure, simple and quick exercise.
                  </p>
               </div>

               <div class="services-container">
                  <!-- /* warehouse */ -->
                  <div class="warehouse-container">
                     <h2>WAREHOUSE CAPACITY</h2>

                     <div class="warehouse">
                        <div class="cols-1">
                           <h3 class="border">-</h3>
                           <div class="border">STORAGE</div>
                           <div class="border">LOADING</div>
                           <div class="border">TOTAL</div>
                        </div>

                        <div class="cols-2">
                           <h3 class="border">PAIRGO</h3>
                           <div class="border">11,058 sq.m</div>
                           <div class="border">756 sq.m</div>
                           <div class="border">11,814 sq.m</div>
                        </div>

                        <div class="cols-3">
                           <h3 class="border">PAGS</h3>
                           <div class="border">5,899 sq.m</div>
                           <div class="border">704 sq.m</div>
                           <div class="border">6,603 sq.m</div>
                        </div>

                        <div class="cols-4">
                           <h3 class="border">OTHER</h3>
                           <div class="border">1,280 sq.m</div>
                           <div class="border">140 sq.m</div>
                           <div class="border">1,420 sq.m</div>
                        </div>

                        <div class="cols-5">
                           <h3 class="border">TOTAL</h3>
                           <div class="border">1,280 sq.m</div>
                           <div class="border">140 sq.m</div>
                           <div class="border">1,420 sq.m</div>
                        </div>
                     </div>
                  </div>

                  <!-- /* office */ -->
                  <div class="office-container">
                     <h2>OFFICE CAPACITY</h2>

                     <div class="office">
                        <div class="cols-1">
                           <h3 class="border">-</h3>
                           <div class="border">2nd FLOOR</div>
                           <div class="border">3rd FLOOR</div>
                           <div class="border">TOTAL</div>
                        </div>

                        <div class="cols-2">
                           <h3 class="border">PAIRGO</h3>
                           <div class="border">3,779 sq.m</div>
                           <div class="border">3,779 sq.m</div>
                           <div class="border">7,558 sq.m</div>
                        </div>

                        <div class="cols-3">
                           <h3 class="border">PAGS</h3>
                           <div class="border">5,899 sq.m</div>
                           <div class="border">704 sq.m</div>
                           <div class="border">6,603 sq.m</div>
                        </div>

                        <div class="cols-4">
                           <h3 class="border">OTHER</h3>
                           <div class="border">1,280 sq.m</div>
                           <div class="border">140 sq.m</div>
                           <div class="border">1,420 sq.m</div>
                        </div>

                        <div class="cols-5">
                           <h3 class="border">TOTAL</h3>
                           <div class="border">1,280 sq.m</div>
                           <div class="border">140 sq.m</div>
                           <div class="border">1,420 sq.m</div>
                        </div>
                     </div>
                  </div>

                  <!-- /* racks */ -->
                  <div class="storage-racks-container">
                     <h2>STORAGE RACKS CAPACITY</h2>

                     <div class="storage-racks">
                        <div class="cols-1">
                           <h3 class="border">-</h3>
                           <div class="border">LENGTH</div>
                           <div class="border">WIDTH</div>
                           <div class="border">HEIGHT</div>
                        </div>

                        <div class="cols-2">
                           <h3 class="border">7 UNITS, 4 LEVELS</h3>
                           <div class="border">24 m</div>
                           <div class="border">27 m</div>
                           <div class="border">45 m</div>
                        </div>

                        <div class="cols-3">
                           <h3 class="border">32 UNITS. 5 LEVELS</h3>
                           <div class="border">24 m</div>
                           <div class="border">27 m</div>
                           <div class="border">60 m</div>
                        </div>
                     </div>
                  </div>

                  <!-- /* cold storage */ -->
                  <div class="cold-storage-container">
                     <h2>COLD STORAGE CAPACITY</h2>

                     <div class="cold-storage">
                        <div class="cols-1">
                           <h3 class="border">TYPE</h3>
                           <div class="border">ANTE ROOM</div>
                           <div class="border">CHILLER</div>
                           <div class="border">FREEZER</div>
                           <div class="border">REFRIGERATED VANS 2Oth</div>
                           <div class="border">REFRIGERATED VANS 40th</div>
                           <div class="border">EXPORT COLD STORAGE</div>
                        </div>

                        <div class="cols-2">
                           <h3 class="border">SIZE</h3>
                           <div class="border">432 cu.m</div>
                           <div class="border">216 cu.m m</div>
                           <div class="border">216 cu.m</div>
                           <div class="border">7 units</div>
                           <div class="border">4 units</div>
                           <div class="border">628 cu.m</div>
                        </div>

                        <div class="cols-3">
                           <h3 class="border">TEMP</h3>
                           <div class="border">10Cto 18C</div>
                           <div class="border">2C to 8C</div>
                           <div class="border">0 to -20C</div>
                           <div class="border">15C to -10C</div>
                           <div class="border">15C to -20C</div>
                           <div class="border">2C to 8C</div>
                        </div>
                     </div>
                  </div>

                  <!-- /* special storage */ -->
                  <div class="special-storage-container">
                     <h2>SPECIAL STORAGE CAPACITY</h2>

                     <div class="special-storage-fee">
                        <div class="cols-1">
                           <h3 class="border">TYPE</h3>
                           <div class="border">COLLECTORS CORRAL</div>
                           <div class="border">ELECTRONIC CORRAL</div>
                           <div class="border">DANGEROUS GOODS</div>
                           <div class="border">VAUABLE VAULT</div>
                           <div class="border">RETURNED CARGO</div>
                           <div class="border">LIVESTOCK QUARANTINE</div>
                           <div class="border">PLANT QUARANTINE</div>
                        </div>

                        <div class="cols-2">
                           <h3 class="border">SIZE</h3>
                           <div class="border">720 cu.m</div>
                           <div class="border">360 cu.m m</div>
                           <div class="border">1022 cu.m</div>
                           <div class="border">720 cu.m</div>
                           <div class="border">360 cu.m</div>
                           <div class="border">48 cu.m</div>
                           <div class="border">48 cu.m</div>
                        </div>
                     </div>
                  </div>

                  <!-- /* vehicle areas */ -->
                  <div class="vehicle-area-container">
                     <h2>VEHICLE AREAS CAPACITY</h2>

                     <div class="vehicle-area">
                        <div class="cols-1">
                           <h3 class="border">LANDSIDE</h3>
                           <div class="border">Movement/ Parking</div>
                           <div class="border">Loading</div>
                           <div class="border">Parking</div>
                           <div class="border">Airside</div>
                           <div class="border">Movement Area</div>
                        </div>

                        <div class="cols-2">
                           <h3 class="border">PAIRGO</h3>
                           <div class="border">4,338.89 sq.m</div>
                           <div class="border">38 slots</div>
                           <div class="border">88 slots</div>
                           <div class="border">-</div>
                           <div class="border">3,687.79</div>
                        </div>

                        <div class="cols-3">
                           <h3 class="border">PAGS</h3>
                           <div class="border">2,36.19 sq.m</div>
                           <div class="border">24 slots</div>
                           <div class="border">34 slots</div>
                           <div class="border">-</div>
                           <div class="border">5,779.19 sq.m</div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>

            <sections id="rates">
               <h2 class="rates-title">STORAGE FEES</h2>

               <div class="rates-container">
                  <!-- /* basic rate */ -->
                  <div class="basic-rate-container">
                     <h2>BASIC STORAGE RATE</h2>

                     <div class="basic-rate">
                        <div class="cols-1">
                           <h3 class="border">GENERAL CARGO</h3>
                           <div class="border">Rate</div>
                           <div class="border">Minimum Cargo</div>
                           <div class="border">Documents & Diplomatic Pouches</div>
                        </div>

                        <div class="cols-2">
                           <h3 class="border">FROM</h3>
                           <div class="border">Php 2.64/kg/day</div>
                           <div class="border">Php 151.91/day</div>
                           <div class="border">Php 101.25/day</div>
                        </div>

                        <div class="cols-3">
                           <h3 class="border">TO</h3>
                           <div class="border">Php 343/kg/day</div>
                           <div class="border">Php 197.48/day</div>
                           <div class="border">Php 131.63/day</div>
                        </div>
                     </div>
                  </div>

                  <!-- /* special cargo */ -->
                  <div class="special-cargo-container">
                     <h2>SPECIAL CARGO</h2>

                     <div class="special-cargo">
                        <div class="cols-1">
                           <h3 class="border">-</h3>
                           <div class="border">Minimum Charge</div>
                           <div class="border">Baggage & Pesonal Effects</div>
                           <div class="border">Perishables</div>
                           <div class="border">Dangerous Drugs & Restricted Articles</div>
                           <div class="border">Live Animals, Fowls, Plants</div>
                           <div class="border">Human Remains</div>
                        </div>

                        <div class="cols-2">
                           <h3 class="border">FROM</h3>
                           <div class="border">Php 363.63/day</div>
                           <div class="border">Php 2.64/kg/day</div>
                           <div class="border">Php 5.30/kg/day</div>
                           <div class="border">Php 5.30/kg/day</div>
                           <div class="border">Php 5.30/kg/day</div>
                           <div class="border">Php 5.30/kg/day</div>
                        </div>

                        <div class="cols-3">
                           <h3 class="border">TO</h3>
                           <div class="border">Php 393.42/day</div>
                           <div class="border">Php 3.43/kg/day</div>
                           <div class="border">Php 6.89/kg/day</div>
                           <div class="border">Php 6.89/kg/day</div>
                           <div class="border">Php 6.89/kg/day</div>
                           <div class="border">Php 6.89/kg/day</div>
                        </div>
                     </div>
                  </div>

                  <!-- /* service charges  */ -->
                  <div class="service-charge-container">
                     <h2>SERVICE CHARGES</h2>

                     <div class="service-charge">
                        <div class="cols-1">
                           <h3 class="border">RATE CHARGE</h3>
                           <div class="border size">For shipment weight per AWB less than 1ookg</div>
                           <div class="border size">For shipemtn weight per AWB is 100kg</div>
                        </div>

                        <div class="cols-2">
                           <h3 class="border">FROM</h3>
                           <div class="border">Php 1.04/kg/day</div>
                           <div class="border">Php 153/day</div>
                        </div>

                        <div class="cols-3">
                           <h3 class="border">TO</h3>
                           <div class="border">Php 135/kg/day</div>
                           <div class="border">Php 199.48/day</div>
                        </div>
                     </div>
                  </div>

                  <!-- /* ancillary charges  */ -->
                  <div class="service-charge-container">
                     <h2>ANCILLARY CHARGES</h2>

                     <div class="service-charge">
                        <div class="cols-1">
                           <h3 class="border">BACKDOOR CHARGE</h3>
                           <div class="border">Rate</div>
                           <div class="border">Minimum Charge</div>
                           <div class="border">Maximum Charge</div>
                        </div>

                        <div class="cols-2">
                           <h3 class="border">FROM</h3>
                           <div class="border">Php 8.45/kg/day</div>
                           <div class="border">Php 505.13/kg</div>
                           <div class="border">Php 843.75/AWB</div>
                        </div>

                        <div class="cols-3">
                           <h3 class="border">TO</h3>
                           <div class="border">Php 10.99/day</div>
                           <div class="border">Php 656.67/kg</div>
                           <div class="border">Php 1,096.88/AWB</div>
                        </div>
                     </div>
                  </div>

                  <!-- /* deconsolidation fee  */ -->
                  <div class="deconsolidation-fee-container">
                     <h2>DECONSOLIDATION FEES</h2>

                     <div class="deconsolidation-fee">
                        <div class="cols-1">
                           <h3 class="border">-</h3>
                           <div class="border">Fix Rate</div>
                        </div>

                        <div class="cols-2">
                           <h3 class="border">FROM</h3>
                           <div class="border">Php 425.25/HAWB</div>
                        </div>

                        <div class="cols-3">
                           <h3 class="border">TO</h3>
                           <div class="border">Php 552.83/HAWB</div>
                        </div>
                     </div>
                  </div>

                  <!-- /* return shipment fee  */ -->
                  <div class="return-fee-container">
                     <h2>RETURN SHIPMENT FEES</h2>

                     <div class="return-fee">
                        <div class="cols-1">
                           <h3 class="border">-</h3>
                           <div class="border">Rate</div>
                           <div class="border">Minimum Charge</div>
                           <div class="border">Maximum Charge</div>
                        </div>

                        <div class="cols-2">
                           <h3 class="border">FROM</h3>
                           <div class="border">Php 84.41/kg</div>
                           <div class="border">Php 506</div>
                           <div class="border">Php 843.75</div>
                        </div>

                        <div class="cols-3">
                           <h3 class="border">TO</h3>
                           <div class="border">Php 109.73/kg</div>
                           <div class="border">Php 657.80</div>
                           <div class="border">Php 1,096.88</div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="miscellaneous">
                  <h2>MISCELLANEOUS</h2>
                  <h3>Classification of Cargoes</h3>

                  <div>General Cargo - All cargoes not included in the above enumeration for special cargo, each kind, class or nature is described herein below:</div>

                  <ol>
                     <li>Special Cargo</li>
                     <li>Baggage & Personal Effects - shipment that are handled with special care and proviced special storage locations.</li>
                     <li>
                        Perishables - shipment shown as such in the Cargo Manifest (CM) and Airway Bill (AWB) or labeled/identified on the package/s as such, hence requiring
                        storage under specified temperatures. (All aquatic products fall under this classification)
                     </li>
                     <li>Valuable Cargo - shipments show in the CM and AWB as such or so labeled/identified on the package/s pursuant to IATA regulations</li>
                  </ol>
               </div>
            </sections>
         </main>

         <footer id="my-footer" class="my-footer">
            <div class="about-contact">
               <div class="about-footer">
                  <img src="../images/logo/logo-W.png" class="footer-logo" alt="PairGO footer logo" />

                  <p class="about-para">Pairgo is a comprehensive cargo handling and storage service company established in 1987</p>

                  <div class="social-media">
                     <img src="../images/icons/social-media/facebook.svg" class="facebook" alt="facebook icon" />

                     <img src="../images/icons/social-media/twitter.svg" class="twitter" alt="twitter icon" />

                     <img src="../images/icons/social-media/youtube.svg" class="youtube" alt="youtube icon" />

                     <img src="../images/icons/social-media/instagram.svg" class="instagram" alt="instagram icon" />
                  </div>
               </div>

               <div class="contact-footer">
                  <h2 class="contact-text-footer">Contacts</h2>
                  <div class="contact-text-icon">
                     <div class="contact-icon address">
                        <img src="../images/icons/contact/icon-location.svg" alt="location icon" />
                        <span>Nampicuan, Nueva Ecija</span>
                     </div>

                     <div class="contact-icon phone">
                        <img src="../images/icons/contact/icon-phone.svg" alt="phone icon" />
                        <span>12456789</span>
                     </div>

                     <div class="contact-icon mail">
                        <img src="../images/icons/contact/icon-email.svg" alt="email icon" />
                        <span>melvin@pairgo.com</span>
                     </div>
                  </div>
               </div>
            </div>

            <div class="copyright-privacy">
               <div class="copyright">
                  <img src="../images/icons/social-media/copyright.svg" alt="copyright" />
                  <span>Pairgo</span>
               </div>

               <div class="privacy">
                  <a href="#" target="_blank" rel="noopener noreferrer">Privacy Policy</a> |
                  <a href="#" target="_blank" rel="noopener noreferrer">Terms & Conditions</a>
               </div>
            </div>
         </footer>
      </div>
      <script src="../scripts/index.js"></script>
      <script src="../scripts/form-validation.js"></script>
   </body>
</html>
