@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@300;400;500;600&display=swap");

/* fonts */
$font-size-10: 62.5%; /* 10px */
$font-fam-work: "Work Sans", sans-serif;
$font-fam-montserrat: "Montserrat", sans-serif;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-600: 600;

/* colors */
$light-red: hsl(0, 100%, 63%); /* warning */
$green: hsl(154, 59%, 51%); /* warning */
$moon-yellow: hsl(45, 93%, 50%); /* navigation footer bg */
$black-pearl: hsl(212, 29%, 13%); /* font */
$azure: hsl(180, 8%, 97%); /* font */
$azuress: #f7f8f8; /* font */
$whisper: hsl(0, 0%, 90%); /* bg */
$light-whisper: hsl(0, 0%, 93%); /* forms input bg */
$lochmara: hsl(204, 68%, 30%);

$facebook: #198ff5;
$youtube: #c4032a;
$instagram: #df4996;
$twitter: #1ca0f2;
