#my-footer {
   @include flexBox(column, center, center, 2rem);
   width: 100%;
   max-width: 144rem;
   background: $moon-yellow;
   padding: 2rem;
   z-index: 90;

   @media (min-width: 992px) {
      padding: 2rem 6rem;
   }

   & .about-contact {
      @include flexBox(column, flex-start, center, 4rem);
      width: 100%;
      margin-bottom: 2rem;

      @media (min-width: 768px) {
         flex-direction: row;
      }

      & .about-footer {
         @include flexBox(column, flex-start, center, 1rem);
         width: 100%;

         & .about-para {
            color: $azure;
         }

         & img {
            width: 7rem;
         }

         & .social-media {
            @include flexBox(row, center, center, 1rem);

            & img {
               width: 3rem;

               &:hover {
                  cursor: pointer;
               }
            }

            & .facebook:hover {
               filter: invert(41%) sepia(28%) saturate(5354%) hue-rotate(193deg) brightness(104%) contrast(92%);
            }

            & .twitter:hover {
               filter: invert(51%) sepia(56%) saturate(779%) hue-rotate(162deg) brightness(95%) contrast(100%);
            }

            & .youtube:hover {
               filter: invert(20%) sepia(78%) saturate(5214%) hue-rotate(339deg) brightness(74%) contrast(112%);
            }

            & .instagram:hover {
               filter: invert(42%) sepia(64%) saturate(1298%) hue-rotate(299deg) brightness(89%) contrast(95%);
            }
         }
      }

      & .contact-footer {
         @include flexBox(column, flex-start, center, 1rem);
         width: 100%;

         & h2 {
            font-size: 2rem;
         }

         & .contact-text-icon {
            @include flexBox(column, flex-start, center, 0.5rem);

            & .contact-icon {
               & img {
                  width: 2rem;
                  height: 2rem;
               }

               & span {
                  padding-left: 1rem;
               }
            }
         }
      }
   }

   & .copyright-privacy {
      @include flexBox(row, center, space-between, 0);
      width: 100%;

      & .copyright {
         font-size: 1.2rem;
         text-align: left;
         width: 100%;

         & img {
            width: 1rem;
         }
      }

      & .privacy {
         @include flexBox(row, center, flex-end, 1rem);
         width: 100%;

         & a {
            text-decoration: none;
            color: $azure;
            font-size: 1.4rem;
            position: relative;

            &::before {
               content: "";
               position: absolute;
               bottom: -0.5rem;
               left: 0;
               width: 100%;
               border-bottom: 0.3rem solid $azure;
               transform: scale(0, 1);
               transform-origin: right;
               transition: transform 300ms ease-in-out;
            }

            &:hover::before {
               transform: scale(1, 1);
               transform-origin: left;
            }
         }
      }
   }
}
