@import "../components/navs";

@import "../components/hamburger";

#my-header {
   @include flexBox(row, center, space-between, 0);
   position: fixed;
   top: 0;
   max-width: 144rem;
   padding: 1rem 2rem;
   width: 100%;
   transition: all 300ms ease-in;
   z-index: 90;

   &.active {
      background: $moon-yellow;
      box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
   }

   @media (min-width: 1201px) {
      padding: 1rem 6rem;
   }

   & .logo-container {
      width: 7rem;

      @media (min-width: 768px) {
         width: 10rem;
      }

      & img {
         width: 100%;
         height: 100%;
      }
   }
}

.nav-bar {
   @include flexBox(row, flex-start, space-between, 0);
   width: 100%;
}
