.quote-container {
   @include flexBox(column, center, center, 1rem);
   width: 100%;
   padding: 0 1rem;

   @media (min-width: 1201px) {
      padding: 0 4rem;
   }

   & h2 {
      text-align: center;
      font-size: 2.5rem;
      font-weight: $font-weight-600;

      @media (min-width: 768px) {
         font-size: 3.5rem;
      }

      @media (min-width: 992px) {
         font-size: 5rem;
      }
   }

   & #quotes {
      @include flexBox(column, flex-start, center, 1rem);
      width: 100%;
      padding: 2rem;
      border-radius: 0.5rem;
      border: 0.1rem solid $black-pearl;
      background: $whisper;

      @media (min-width: 768px) {
         box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
      }

      @media (min-width: 992px) {
         padding: 4rem;
      }

      & .field {
         width: 100%;

         & label {
            display: block;
            font-weight: $font-weight-600;
         }

         & .form-field {
            width: 100%;
            padding: 1rem;
            border: 0.1rem solid $black-pearl;
            background: $light-whisper;
            border-radius: 0.5rem;
            outline: none;
            position: relative;

            &:focus {
               border: 0.1rem solid $lochmara;
            }

            &.active {
               background-image: url("../../images/error/icon-error.svg");
               background-repeat: no-repeat;
               background-size: 1.5rem;
               background-position: center right 2.5rem;
               border: 0.1rem solid $light-red;
            }

            &:focus.green-border {
               border: 0.1rem solid $green;
            }
         }

         & .warning {
            visibility: hidden;
            font-size: 1.2rem;
            color: $light-red;

            &.active {
               visibility: visible;
            }
         }
      }

      & .quote-btn {
         @extend %btn-style;
         padding: 1.5rem;
         width: 100%;
         background: $moon-yellow;
      }
   }
}
