#clients {
   @include flexBox(column, center, center, 2rem);
   width: 100%;
   text-align: center;
   color: $black-pearl;

   & .max-capacity {
      @include flexBox(column, center, center, 2rem);
      width: 100%;
      min-height: 20%;
      padding: 4rem;
      color: $azure;
      background: $lochmara;

      @media (min-width: 768px) {
         padding: 8rem;
      }

      @media (min-width: 992px) {
         padding: 10rem 12rem;
      }

      & .client-title {
         font-size: 2.5rem;
         font-weight: $font-weight-600;

         @media (min-width: 768px) {
            font-size: 3.5rem;
            padding: 0 4rem;
         }
      }

      & .capacity {
         font-size: 2rem;

         @media (min-width: 768px) {
            font-size: 2.5rem;
            padding: 0 4rem;
         }

         @media (min-width: 992px) {
            padding: 0 8rem;
            line-height: 4rem;
         }
      }
   }

   & h2 {
      font-size: 2.5rem;

      @media (min-width: 768px) {
         font-size: 3.5rem;
      }

      @media (min-width: 992px) {
         font-size: 5rem;
      }
   }

   & .client-para {
      padding: 1rem 2rem;

      & span {
         font-size: 2rem;
         display: block;
      }
   }

   & .client-container {
      @include flexBox(row, center, center, 2rem);
      flex-wrap: wrap;

      @media (min-width: 768px) {
         padding: 0 4rem;
      }

      & img {
         width: 10rem;
         height: 10rem;
         transition: all 300ms ease-in-out;

         &:hover {
            transform: scale(1.05);
         }

         @media (min-width: 768px) {
            width: 15rem;
            height: 15rem;
         }
      }
   }

   & .see-all {
      margin-top: 2rem;
      position: relative;

      &::before {
         content: "";
         position: absolute;
         bottom: -0.5rem;
         left: 0;
         width: 100%;
         border-bottom: 0.3rem solid $black-pearl;
         transform: scale(0, 1);
         transform-origin: right;
         transition: transform 300ms ease-in-out;
      }

      &:hover::before {
         transform: scale(1, 1);
         transform-origin: left;
      }

      &.active::before {
         transform: scale(1, 1);
         transform-origin: left;
      }

      & a {
         font-size: 2.5rem;
         text-decoration: none;
         color: $black-pearl;
         font-weight: $font-weight-600;
      }
   }
}

.clients-page {
   padding: 8rem 2rem;

   @media (min-width: 768px) {
      padding: 10rem 2rem;
   }

   & #clients-page-title {
      font-size: 2.5rem;

      @media (min-width: 768px) {
         font-size: 5rem;
      }
   }
}
