@import "../../components/quotes-forms";

.my-header {
   background: $moon-yellow;
}

#contact-us {
   @include flexBox(column, center, center, 2rem);
   padding: 8rem 1rem;
   width: 100%;
   color: $black-pearl;
   min-height: 100vh;
   background: $whisper;

   @media (min-width: 768px) {
      width: 65%;
      padding: 10rem 2rem;
   }

   @media (min-width: 992px) {
      width: 50%;
      padding: 10rem 2rem;
   }

   & h2 {
      font-size: 2.5rem;
      text-align: center;
      font-weight: $font-weight-600;
      color: $black-pearl;

      @media (min-width: 768px) {
         font-size: 3.5rem;
      }

      @media (min-width: 992px) {
         font-size: 5rem;
      }
   }

   & #contact-form {
      @include flexBox(column, flex-start, center, 2rem);
      width: 100%;
      padding: 2rem;
      border: none;
      border-radius: 0.5rem;
      background: $lochmara;
      color: $azure;
      transition: all 300ms ease-in-out;

      @media (min-width: 425px) {
         padding: 4rem;
      }

      &:hover {
         box-shadow: 0rem 0rem 1.5rem hsla(212, 29%, 13%, 0.4);
         cursor: pointer;
      }

      & h3 {
         text-align: center;
         width: 100%;
      }

      & .field {
         width: 100%;

         & label {
            display: block;
            font-weight: $font-weight-600;
            color: $azure;
         }

         & .form-field {
            width: 100%;
            padding: 1rem;
            outline: none;
            border-radius: 0.5rem;
            background: $light-whisper;
            border: 0.1rem solid transparent;
            position: relative;

            &:focus {
               border: 0.1rem solid $black-pearl;
            }

            &.active {
               background-image: url("../../images/error/icon-error.svg");
               background-repeat: no-repeat;
               background-size: 1.5rem;
               background-position: center right 2.5rem;
               border: 0.1rem solid $light-red;
            }

            &:focus.green-border {
               border: 0.1rem solid $green;
            }
         }

         & .warning {
            visibility: hidden;
            font-size: 1.2rem;
            color: $light-red;

            &.active {
               visibility: visible;
            }
         }
      }

      & .contact-btn {
         @extend %btn-style;
         padding: 1.5rem;
         width: 100%;
         background: $moon-yellow;
      }
   }
}
