#all-services {
   background: $lochmara;
   width: 100%;
   padding: 9rem 0;

   @media (min-width: 768px) {
      padding: 9rem;
   }

   #service-offers,
   #rates {
      @include flexBox(column, center, center, 0rem);
      min-width: 32rem;
      width: 100%;

      & .services-title,
      & .rates-title {
         text-align: center;
         text-shadow: 0.1rem 0.2rem 0.3rem $black-pearl;
         color: $moon-yellow;

         @media (min-width: 768px) {
            font-size: 3.5rem;
         }

         @media (min-width: 992px) {
            font-size: 5rem;
         }
      }

      & .service-text {
         & .para {
            padding: 2rem;

            @media (min-width: 768px) {
               padding: 2rem 4rem;
            }
         }
      }
   }

   .services-container,
   .rates-container {
      @include flexBox(column, center, center, 2rem);
      width: 100%;
      padding: 4rem 2rem;

      @media (min-width: 768px) {
         padding: 4rem;
      }

      & .warehouse-container,
      & .office-container,
      & .storage-racks-container,
      & .cold-storage-container,
      & .special-storage-container,
      & .vehicle-area-container,
      & .basic-rate-container,
      & .special-cargo-container,
      & .service-charge-container,
      & .deconsolidation-fee-container,
      & .return-fee-container {
         @include flexBox(column, center, center, 1rem);
         align-items: center;
         justify-content: center;
         width: 100%;

         & h2 {
            text-align: left;
            padding-right: 5rem;
            text-shadow: 0.1rem 0.2rem 0.3rem $black-pearl;
            position: relative;
            width: 25rem;

            &:hover {
               cursor: pointer;
            }

            @media (min-width: 768px) {
               align-self: flex-start;
            }
         }
      }

      & #warehouse,
      & #office {
         display: grid;
         grid-template-columns: repeat(10, 1fr);
         grid-template-rows: auto;
         text-align: center;
         width: 100%;
         align-items: center;
         justify-content: center;

         position: absolute;
         opacity: 0;
         height: 0;
         visibility: hidden;

         &.active {
            position: unset;
            opacity: 1;
            height: 100%;
            visibility: visible;
            transition: all 500ms ease-in-out;
         }

         & h3 {
            background: hsl(204, 67%, 12%);
         }
      }

      & #storage-racks,
      & #cold-storage,
      & #vehicle-area,
      & #basic-rate,
      & #special-cargo,
      & #service-charge,
      & #ancillary-charge,
      & #deconsolidation-fee,
      & #return-fee {
         display: grid;
         grid-template-columns: repeat(6, 1fr);
         grid-template-rows: auto;
         text-align: center;
         width: 100%;

         position: absolute;
         opacity: 0;
         height: 0;
         visibility: hidden;

         &.active {
            position: unset;
            opacity: 1;
            height: 100%;
            visibility: visible;
            transition: all 500ms ease-in-out;
         }

         & h3 {
            background: hsl(204, 67%, 12%);
         }
      }

      & #special-storage {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-template-rows: auto;
         text-align: center;
         width: 100%;

         position: absolute;
         opacity: 0;
         height: 0;
         visibility: hidden;

         &.active {
            position: unset;
            opacity: 1;
            height: 100%;
            visibility: visible;
            transition: all 500ms ease-in-out;
         }

         & h3 {
            background: hsl(204, 67%, 12%);
         }
      }
   }

   .border {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 6rem;
      padding: 1rem;
      border-bottom: 0.1rem solid $lochmara;
      background-color: hsl(203, 43%, 25%);
      font-size: 1.3rem;

      @media (min-width: 768px) {
         height: 5rem;
         font-size: 1.6rem;
      }
   }

   .round-left {
      border-radius: 1rem 0 0 0;
      background: rgb(10, 34, 50);
   }

   .round-right {
      border-radius: 0 1rem 0 0;
   }

   .cols-1 {
      grid-column: 1 / span 2;
   }

   .cols-2 {
      grid-column: 3 / span 2;
   }

   .cols-3 {
      grid-column: 5 / span 2;
   }

   .cols-4 {
      grid-column: 7 / span 2;
   }

   .cols-5 {
      grid-column: 9 / span 2;
   }

   .cols-6 {
      grid-column: 11 / span 2;
   }

   & .arrow-down {
      position: absolute;
      top: 0;
      right: 0;
      width: 2rem;

      & img {
         width: 100%;
         animation: spinDown 500ms ease-in-out;
         animation-fill-mode: forwards;

         &.active {
            animation: spinUp 500ms ease-in-out;
            animation-fill-mode: forwards;
         }
      }
   }

   @keyframes spinUp {
      0% {
         transform: rotate(0deg);
      }
      100% {
         transform: rotate(-180deg);
      }
   }

   @keyframes spinDown {
      0% {
         transform: rotate(-180deg);
      }
      100% {
         transform: rotate(0deg);
      }
   }
}
